<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="mj.project.mapper.MemberMapper">
  
  	<resultMap type="mj.project.domain.MemberVO" id="memberMap">
  		<id property="username" column="username"/>
  		<result property="username" column="username"/>
  		<result property="name" column="name"/>
  		<result property="userid" column="userid"/>
  		<result property="password" column="password"/>
  		<collection property="authList" resultMap="authMap"></collection>
  	</resultMap>
  	<resultMap type="mj.project.domain.AuthVO" id="authMap">
  		<result property="username" column="username"/>
  		<result property="auth" column="auth"/>
  	</resultMap>
  	
  	<select id="read" resultMap="memberMap">
  		SELECT  m.username, name, userid, password, auth
  		FROM members m LEFT OUTER JOIN auths au ON m.member_no = au.member_no
  		WHERE m.username = #{username}
  	</select>
  	
  	<insert id="insert" >
  		INSERT INTO members(member_no, username, name, userid, password)
  		VALUES( member_no_seq.nextval, #{username}, #{name}, #{userid}, #{password})
  	</insert>
  	
  	<select id="selectMemberNo" resultType="int">
  		SELECT member_no
  		FROM members
  		WHERE username = #{username}
  	</select>
  	
  	<insert id="authInsert" parameterType="map">
  		INSERT INTO auths(auth_no, auth, member_no)
  		VALUES( auth_no_seq.nextval , #{auth} , #{member_no})
  	</insert>
  	
  </mapper>