@charset "UTF-8";

.box-setting{
	background-color: white;
	border: solid 2px #dbdbdb;
	border-radius: 5px;
}
.btnNone{
	background: none;
	border: none;
	outline: none;
}
.total-block{
	margin: 0 auto;
	padding: 30px;
	align-items: flex-start;
}
.right-block{
	max-width: 614px;
    width: 100%;
    margin-right: 30px;
}
.left-block{
	max-width: 290px;
	width: 100%;
	height: 300px;
	border: solid 2px yellow;
}
.livebox{
	height: 120px;
	padding: 16px 0;
	margin-bottom: 30px;
}
.live-list{
	list-style: none;
	padding-left: 10px;
	display: flex;
}
.live-list li{
	display: flex;
    flex-direction: column;
    align-items: center;
    width: 80px;
    padding: 0 5px;
}
.canvas{
	border-radius: 50%;
	border: solid 2px rgb(235,147,22);
	align-items: center;
}
.live-canvas{
	width: 65px;
	height: 65px;
}
.live-profile-pic{
	width: 55px;
	height: 55px;
	border-radius: 50%;
	overflow: hidden;
}
.live-profile-pic img{
	width: 100%;
	height: 100%;
}
.live-id{
	font-size: 12px;
    font-weight: 550;
    margin-top: 5px;
}
.article{
	margin-bottom: 40px;
}
.article header{
	height: 60px;
	border-bottom: solid 2px #dbdbdb;
	padding: 16px;
	display: flex;
    align-items: center;
}
.article-header{
	width: 100%;
	display: flex;
	align-items: center;
}
.aticle-canvas{
	width: 45px;
	height: 42px;
}
.profile-pic{
	border-radius: 50%;
	width: 32px;
	height: 32px;
	overflow: hidden;
}
.profile-pic img{
	width: 100%;
	height: 100%;
}
.smallheader{
	margin-left: 10px;
	display: flex;
    justify-content: space-between;
    width: 100%;
}
.morebtn{
	width: 20px;
	height: 20px;
}
.morebtn img{
	width: 70%;
}
.article-section{
	margin-bottom: 5px;
}
.article-img img{
	width: 100%;
}
.article-body .article-section{
	padding: 0 16px;
}
.article-iconbox{
	display: flex;
}
.article-icon{
	padding: 7px 0;
	margin-right: 20px;
}
.article-icon img{
	width: 23px;
	box-sizing: border-box;
}
.bookmark{
	margin-left: auto;
	margin-right: 0px;
}
.likes_info{
	font-weight: 800;
	padding-left: 0;
}
.article-id a{
	color: black;
	font-weight: 800;
	margin-right: 5px;
}
.id-contents a{
	text-decoration: none;
}
.article-time{
	font-size: 10px;
	color: #8e8e8e;
	padding: 5px 0;
}
.comment{
	border-top: solid 2px #dbdbdb;
	min-height: 56px;
	line-height: 18px;
	display: flex;
	align-items: center;
}
.comment-input{
	width: 100%;
}
.comment-form textarea{
	resize: none;
	width: 100%;
	height: 20px;
	padding: 0;
}
.comment-form button{
	color: #eb9316;
	width: 30px;
	padding: 0;
	font-weight: 550;
	font-size: 15px;
}
.comment-form button:disabled{
	color: rgba( 235, 147, 22, 0.5);
}

/*  ***** ******************************************** */
.write-btn{
	background: #eb9316;
	color: white;
	width: 100%;
	height: 40px;
	border-radius: 5px;
}



