@charset "UTF-8";

.box-setting{
	background-color: white;
	border: solid 2px #dbdbdb;
	border-radius: 5px;
}
.total-block{
	margin: 0 auto;
	padding: 30px;
	align-items: flex-start;
}
.right-block{
	max-width: 614px;
    width: 100%;
    margin-right: 30px;
}
.left-block{
	max-width: 290px;
	width: 100%;
	height: 300px;
	border: solid 2px yellow;
	padding: 20px;
}
.livebox{
	height: 120px;
	padding: 16px 0;
	margin-bottom: 30px;
}
.live-list{
	list-style: none;
	padding-left: 10px;
	display: flex;
}
.live-list li{
	display: flex;
    flex-direction: column;
    align-items: center;
    width: 80px;
    padding: 0 5px;
}
.canvas{
	border-radius: 50%;
	border: solid 2px rgb(235,147,22);
	align-items: center;
}
.live-canvas{
	width: 65px;
	height: 65px;
}
.live-profile-pic{
	width: 55px;
	height: 55px;
	border-radius: 50%;
	overflow: hidden;
}
.live-profile-pic img , .lb-profile-pic img{
	width: 100%;
	height: 100%;
}
.live-id{
	font-size: 12px;
    font-weight: 550;
    margin-top: 5px;
}
.article{
	margin-bottom: 40px;
}
.article header{
	height: 60px;
	border-bottom: solid 2px #dbdbdb;
	padding: 16px;
	display: flex;
    align-items: center;
}
.article-header{
	width: 100%;
	display: flex;
	align-items: center;
}
.aticle-canvas{
	width: 45px;
	height: 42px;
}
.profile-pic{
	border-radius: 50%;
	width: 32px;
	height: 32px;
	overflow: hidden;
}
.profile-pic img{
	width: 100%;
	height: 100%;
}
.smallheader{
	margin-left: 10px;
	display: flex;
    justify-content: space-between;
    width: 100%;
}
.morebtn{
	width: 20px;
	height: 20px;
}
.morebtn img{
	width: 70%;
}
.article-section{
	margin-bottom: 5px;
}
.article-img{
	min-height: 400px;
	max-height: 500px; 
	overflow: hidden;
	display: flex;
    justify-content: center;
    align-items: center;
    background: black;
}
.h-500{
	height: 500px;
}
.article-body .article-section{
	padding: 0 16px;
}
.article-iconbox{
	display: flex;
}
.article-icon{
	padding: 7px 0;
	margin-right: 20px;
}
.article-icon img{
	width: 23px;
	box-sizing: border-box;
}
.bookmark{
	margin-left: auto;
	margin-right: 0px;
}
.likes_info{
	font-weight: 800;
	padding-left: 0;
}
.article-id a{
	color: black;
	font-weight: 750;
	margin-right: 5px;
}
.id-contents a{
	text-decoration: none;
}
.article-time{
	font-size: 10px;
	color: #8e8e8e;
	padding: 5px 0;
}
.comment{
	border-top: solid 2px #dbdbdb;
	min-height: 56px;
	line-height: 18px;
	display: flex;
	align-items: center;
}
.comment-input{
	width: 100%;
}
textarea{
	resize: none !important;
	width: 100%;
	height: 20px;
	padding: 0;
}
.comment-form button{
	color: #eb9316;
	width: 30px;
	padding: 0;
	font-weight: 550;
	font-size: 15px;
}
.comment-form button:disabled{
	color: rgba( 235, 147, 22, 0.5);
}
.commentMore a{
	color: gray;
	text-decoration: none !important;
}
.article-reply{
	padding-left: 3px;
}
.article-contenst{
	margin: 0;
}
.reply-id a{
	font-weight: 700 !important;
}
/*  ***** ******************************************** */
.write-btn{
	background: #eb9316 !important;
	color: white;
	width: 100%;
	height: 40px;
	border-radius: 5px;
	font-size: 16px;
	font-weight: 550;
}
.reply{
	display: flex;
    align-items: center;
    position: relative;
}
.reply-top{
	width: 95%;
}
.replyLikeBtn{
	display: flex;
    position: absolute;
    right: 0;
}
.replyLikeBtn img{
	width: 17px;
}
.lb-canvas{
	width: 50px;
	height: 50px;
	margin-right: 15px;
}
.lb-profile-pic{
	width: 35px;
	height: 35px;
	border-radius: 50%;
	overflow: hidden;
}
.profilebox2{
	display: flex;
	align-items: center;
	margin-bottom: 12px;
}
.ANone{
	text-decoration: none;
	color: black;
}
.ANone:hover{
	text-decoration: none !important;
	color: black !important;
}
/*  ***** ******************************************** */
.writeblock{
	max-width: 900px;
	padding-top: 10px;
}
.write-label{
	margin-top: 10px;
	font-size: 15px;
}
#write-text{
	resize: none;
}
.list-style{
	width: 20px;
	height: 20px;
	background: #eb9316;
	border-radius: 50%;
	margin-right: 10px;
}
.post-input{
	display : flex;
	align-items: center;
	margin: 20px 0 7px 0;
}


/* profile.jsp */
.mainbox{
	max-width : 955px;
	margin: 0 auto;
	padding: 30px 20px;
	margin-bottom: 80px;
}
.profilebox1{
	display: flex;
	justify-content: flex-start;
	margin-bottom: 35px;
}
.profile-left{
	width: 30%;
}
.profile-right{
	width: 60%;
	margin-left: 40px;
}
.profile-canvas{
	width: 150px;
	height: 150px;
}
.profile-wh{
	width: 135px;
	height: 135px;
}
.cntbox{
	margin: 10px 15px 15px 0 ;
}
.cntbox span{
	margin-right: 5px;
}
.cnt{
	font-weight: 750;
}
.pr-1{
	display: flex;
	align-items: center;
}
.pr-1 span{
	font-size: 26px;
	margin-right: 20px;
}
.pr-2{
	display: flex;
}
.pr-3{
	font-weight: 800;
}
.menubar{
	border-top: 1px solid rgba(var(--b38,219,219,219),1);
	margin-bottom: 15px; 
}
.menubar img{
	width: 17px;
	margin-right: 7px;
}
.menu{
    margin-right: 20px;
    padding: 10px 5px 5px 5px;
    color: gray;
}
.menu:first-child{
	border-top: solid 1px black;
}
.menu:first-child a{
	color: black;
	font-weight: 700;
}
.menu a{
	text-decoration: none;
	color: gray;
	font-size: 14px;
}
.photo-row{
	margin-bottom: 30px;
	justify-content: flex-start;
}
.photo3{
	position: relative;
	width: 30%;
	min-width: 250px;
	height: 260px;
	display: flex;
	align-items: center;
	margin: 0 15px;
	overflow: hidden;
    background: black;
}
.photo3 .thumb{
	width: 100%;
}
.photo3:hover{
	opacity: 0.7;
}
.ph_m{
	position: absolute;
    width: 20px;
    top: 15px;
    right: 15px;
}
.btn{
	color: white;
	font-weight: 650;
	padding: 3px 10px;
	font-size: 13px;
	margin-right: 10px;
}
.btnGray{
	background: #6c757d;
}
.btnBlue{
	background: #0095f6;
}
.btnEdit{
	background: transparent;
	border: solid 1px gray;
	color: black;
}
.profile-more{
	width: 40px;
    padding: 0 10px;
}
.profile-more img{
	width: 100%;
}